snippet cthead "Create the title hard to miss" b
" ==============================================================================
" ${0:Your Title}
" ==============================================================================
endsnippet
